---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='content' %}
  <a name="root"> </a>
  <h2 id="root">ValueSet: {{site.data.pages[page.path].title | escape_once}}
{% if site.data.resources[resource_].experimental == true %}(Experimental){% endif %}
  </h2>
{% include fragment-resourceTable.html %}
{%if site.data.resources[resource_].description %}
<p>
{{site.data.resources[resource_].description|markdownify}}
</p>
{% endif %}{%if site.data.resources[resource_].purpose %}
<p>
{{site.data.resources[resource_].purpose|markdownify}}
</p>
{% endif %}

  <p>
    <b>Referências</b>
  </p>
  {%include {{[type]}}-{{[id]}}-xref.xhtml%}

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  <a name="definition"> </a>

<!-- Content Logical Definition heading in the fragment -->
  {%include {{[type]}}-{{[id]}}-cld.xhtml%}

  <p>&#160;</p>
  <a name="expansion"> </a>
  <h3 id="expansion">Expansion</h3>

  {%include {{[type]}}-{{[id]}}-expansion.xhtml%}

  <hr/>
  <p>
    Explanação das colunas que podem aparecer nesta página:
  </p>
  <table class="grid">
    <tr>
      <td>Level</td>
      <td>Alguns códigos que o FHIR define são hierárquivos - cada código recebe um nível.
          Nesse esquema, alguns códigos estão contidos em outros códigos, e semântica aplicada aos códigos-pai também podem se aplicar aos respectivos códigos-filho</td>
    </tr>
    <tr>
      <td>System</td>
      <td>A fonte de definição de um código (Quanto os conjuntos de valores tem definições obtidas a partir de outras origens)</td>
    </tr>
    <tr>
      <td>Code</td>
      <td>O código que identifica um conceito usado na instância de um recurso</td>
    </tr>
    <tr>
      <td>Display</td>
      <td>Uma descrição sucinta do conceito (Vide especificação do <a href="{{site.data.fhir.path}}datatypes.html#Coding">Coding</a>). Se não há descrição sucinta no dado, os implementadores não devem apresentar o campo.</td>
    </tr>
    <tr>
      <td>Definition</td>
      <td>Uma definição de uso para o conceito representado.</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td>Comentários adicionais sobre o conceito.</td>
    </tr>
  </table>

  {% if site.data.resources[resource_].contained != nil %}
  <h4>Recursos contidos</h4>
  {% include {{[type]}}-{{[id]}}-contained-index.xhtml %}
  {% endif %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}

  {%include {{[type]}}-{{[id]}}-history.xhtml%}

</div>
{% include fragment-pageend.html %}
